# ================================
# Train Data
# ================================
--train_csv=data/ref/train_damage.csv
--subsample_size=
--subsample_random_state=42

# ================================
# Valid Data
# ================================
--valid_csv=
--valid_size=0.2
--random_state=42
--test_csv=data/ref/test_damage.csv

# ================================
# Features and target
# ================================
--features=mean_wind_speed, std_wind_speed, wave_hs, wave_tp, section_height_m, section_radius_m, section_thickness_m
--target_transform_to_del=True

# ================================
# Autogluon hyperparameters
# ================================
--eval_metric=root_mean_squared_error
--presets=best
--time_limit=14400
# zeroshot for --presets=best, zeroshot_2025_tabfm for --presets=extreme
--hyperparameters=zeroshot
--num_cpus=24
--num_gpus=1
--num_bag_folds=8
--num_cpus_per_fold=12
--num_gpus_per_fold=1

# ================================
# Output options
# ================================
--output_dir=outputs/within/ref/best
