# ================================
# Train Data
# ================================
--train_csv=data/opt2/train_damage.csv
#/home/joao/neurotower/dataset_new_new_heave_2/dataset_ts1_6_waves7_horplat/train_test/train_damage.csv
--subsample_size=
--subsample_random_state=42

# ================================
# Valid Data
# ================================
--valid_csv=
--valid_size=0.2
--random_state=42
--test_csv=data/opt2/test_damage.csv

# ================================
# Features and target
# ================================
--features=mean_wind_speed, std_wind_speed, wave_hs, wave_tp, section_height_m, section_radius_m, section_thickness_m
--target_transform_to_del=True

# ================================
# Autogluon hyperparameters
# ================================
--eval_metric=root_mean_squared_error
--presets=best
--time_limit=5
#14400
--hyperparameters=zeroshot
#zeroshot
#zeroshot_2025_tabfm
--num_cpus=24
--num_gpus=1
--num_bag_folds=8
--num_cpus_per_fold=12
--num_gpus_per_fold=1

# ================================
# Output options
# ================================
--output_dir=data/test_cross2
