# ================================
# Source
# ================================
# Anonymized download link of the dataset archive (25.6 MB)
--url=https://osf.io/download/6ab722cf8c24072987b0bede/?view_only=224887b50912448b871620b3ef96cefc
--sha256=7166d9cb113f52dd630f1eaebad6de69e3367103ae915cc1309d9c368dfb1530

# ================================
# Output options
# ================================
--data_dir=data
--towers=ref,opt1,opt2
