# ================================
# Test Data
# ================================
--test_csv=data/opt2/test_damage.csv

# ================================
# Model Trained
# ================================
--model_cfg_path=data/test_cross2/model/autogluon_meta.json

# ================================
# Bootstrap uncertainty quantification2
# ================================
--bootstrap=True
--n_bootstrap=2
#2000
--bootstrap_seed=42
--bootstrap_alpha=0.05
