# ================================
# Input Data
# ================================
--data_dir=data
--tower=ref

# ================================
# Output options
# ================================
--output_dir=outputs/analyses/split_sensitivity
