# ================================
# Input: Base Directory
# ================================
--base_dir=outputs/within/ref

# ================================
# Output
# ================================
--output_dir=outputs/within/ref/benchmark

# ================================
# Benchmark Parameters
# ================================
--ranking_top_n=3
--bump_only_global=False
