# ================================
# Input: Base Directory
# ================================
--base_dir=data/test_cross2/model

# ================================
# Output
# ================================
--output_dir=data/test_cross2/test_benchmark

# ================================
# Benchmark Parameters
# ================================
--ranking_top_n=3
--bump_only_global=False
